body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background */
    color: #333; /* Text color */
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

/* Navbar Styles */
.navbar {
    background-color: #3498db; /* Unique shade of blue for the navbar */
    color: black; /* Navbar text color */
}

.navbar-brand {
    color: #3498db !important; /* Brand text color */
    font-weight: bold;
}

/* Banner Styles */
.jumbotron {
    /* background-color: #3498db; */
    color: #fff; 
    text-align: center;
    padding: 2rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('Images/banner.jpg') center center;
}

/* Upload and Sale Section Styles */
.container {
    margin-top: 30px; /* Adjust as needed */
}

.upload {
    margin: 40px;
}


/* Form Styles */
.form-group {
    margin-bottom: 1.5rem;
}

/* Showcase Section Styles */
.container .row > div {
    margin-bottom: 30px;
}

.showcase_image {
    width: 95%;
    margin: 30px 0px;
}

/* Footer Styles */
footer {
    background-color: #333; /* Dark background for the footer */
    color: #fff; /* Footer text color */
    padding: 15px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens if needed */
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron p {
        font-size: 16px;
    }
}